<h1>《大唐刑律典》的理解与适用</h1>
<hr/>

<style>
.catalog>ul{{
	padding-left: 0;
}}
.main .article{{
	margin-bottom: 15px;
}}
.main .article-abstract{{
	white-space: pre-line;
	margin-bottom: 15px;
}}
.main .title{{
	text-align: center;
	font-weight: bold;
}}
.main .main-order1>.title{{
	font-size: 21px;
}}
.main .article-number{{
	font-weight: bold;
}}
.main .article-content{{
	white-space: pre-line;
}}
</style>

<h2>目录</h2>

<div class="catalog">
{0}
</div>

<h2>正文</h2>

{2}

<h2>附录</h2>

<div class="catalog">
{1}
</div>
