h1{
    text-align: center;
    font-size: 36px;
    color: rgb(51, 102, 153);
}

h2{
	font-weight: bold;
    font-size: 28px;
    color: rgb(255, 102, 0);
}

h3, h4{
	font-weight: bold;
}

h4:before{
	font-weight: bold;
	content: "•";
}

h5{
	font-style: bold;
	content: "·";
    font-weight: bold;
}

li{
    list-style-type: none;
}

a,
a:hover{
    text-decoration: none;
}

.table,
.table th,
.table td{
	vertical-align: middle !important;
}

.table.center,
.table.center th,
.table.center td{
    text-align: center;
}

.table caption{
    text-align: center;
}

.law{
    white-space: pre-line;
    border: 1px dotted black;
    border-radius: 16px;
    padding: 10px 5px;
    background-color: #eee;
    font-weight: bold;
    margin-bottom: 20px;
}

.text p{
    white-space: pre-line;
}

.vertical-mode{
	writing-mode: vertical-rl;
	vertical-align: middle !important;
	text-align: center;
}

.word{
	border: 1px solid black;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
}

.word-name{
	font-weight: bold;
	margin-bottom: 5px;
}