h1{
    text-align: center;
    font-size: 36px;
}

h2{
    font-size: 28px;
}

li{
    list-style-type: none;
}

a,
a:hover{
    text-decoration: none;
}

table.center,
table.center th,
table.center td{
    text-align: center;
}

table caption{
    text-align: center;
}

.law{
    white-space: pre-line;
    border: 1px dotted black;
    border-radius: 16px;
    padding: 10px 5px;
    background-color: #eee;
    font-weight: bold;
    margin-bottom: 20px;
}

.text p{
    white-space: pre-line;
}
