h1{
    text-align: center;
    font-size: 36px;
    color: rgb(51, 102, 153);
}

h2{
    font-size: 28px;
    color: rgb(255, 102, 0);
}

h5{
    font-weight: bold;
}

li{
    list-style-type: none;
}

a,
a:hover{
    text-decoration: none;
}

.table,
.table th,
.table td{
	vertical-align: middle !important;
}

.table.center,
.table.center th,
.table.center td{
    text-align: center;
}

.table caption{
    text-align: center;
}

.law{
    white-space: pre-line;
    border: 1px dotted black;
    border-radius: 16px;
    padding: 10px 5px;
    background-color: #eee;
    font-weight: bold;
    margin-bottom: 20px;
}

.text p{
    white-space: pre-line;
}
